<div class="container">
    <div class="row">
        <div class="col-sm">
            <p></p>
            <h4 style="color: darkcyan; font-family: 'Times New Roman', Times, serif; font-weight: bold;">DANH MỤC LOẠI
                NHÀ CUNG CẤP
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <p style="color: darkcyan">Tìm kiếm
                <input type="text" placeholder="Mã, tên loại nhà cung cấp" style="width: 200px;">
            </p>
        </div>

        <div class="col-sm">
            <p style="color: darkcyan">Trạng thái
                <select style="width: 200px;">
                    <option style="font-style: italic;" disabled>Tất cả/Sử dụng/Ngưng</option>
                    <option>Tất cả</option>
                    <option>Sử dụng</option>
                    <option>Ngưng</option>
                </select>
            </p>
        </div>

        <div class="col-auto">
            <button type="button" class="btn btn-info">Tìm kiếm </button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal">Thêm mới</button>
        </div>

    </div>
    <hr class="style1">
    <table class="table table-bordered table-striped" id="table">
        <thead style="background: lightskyblue;">
            <tr class="center">
                <th>#</th>
                <th>Mã LNCC</th>
                <th>Tên Nhóm NCC</th>
                <th>GHI CHÚ</th>
                <th>Sort</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let loaincc of arrayLNCC">
                <td>{{ loaincc.id }}</td>
                <td>{{ loaincc.ma }}</td>
                <td>{{ loaincc.ten }}</td>
                <td>{{ loaincc.ghichu }}</td>
                <td></td>
                <td>
                    <button class="btn btn-success" data-toggle="modal" data-target="#sModal">Sửa</button>
                    <button class="btn btn-danger" (click)="removeLNCC(loaincc.id);">Xóa</button>
                </td>
            </tr>

        </tbody>
    </table>


</div>

<!-- Modal AddVendorType -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Quản lý nhà cung cấp</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <ul class="list-group">
                        <li class="list-group-item active">
                            THÊM MỚI LOẠI NHÀ CUNG CẤP
                        </li>
                        <li class="list-group-item">
                            <p>
                                Mã LNCC <br>
                                <input style="width: 200px;" placeholder="Nhập mã loại nhà cung cấp"
                                    [(ngModel)]="newMaLNCC" />
                                <!-- <input placeholder="Nhập mã loại nhà cung cấp"/> -->
                            </p>

                            <p>
                                Tên loại NCC (*) <br>
                                <input style="width: 200px;" placeholder="Nhập tên loại nhà cung cấp"
                                    [(ngModel)]="newTenLNCC" />
                                <!-- <input placeholder="Nhập tên loại nhà cung cấp"/> -->
                            </p>

                            <p>
                                Ghi chú <br>
                                <textarea style="width: 200px;" placeholder="Nhập ghi chú"
                                    [(ngModel)]="newGhiChu"></textarea>
                                <!-- <textarea placeholder="Nhập ghi chú"></textarea> -->
                            </p>

                            <p>
                                <input type="checkbox" checked> Sử dụng
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addLNCC()">Lưu &
                    đóng</button>
                <button type="submit" class="btn btn-primary" (click)="addLNCC()">Lưu & Thêm mới</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal EditVendorType -->
<div class="modal fade" id="sModal" tabindex="-1" role="dialog" aria-labelledby="sModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sModalLabel">Quản lý nhà cung cấp</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <ul class="list-group">
                        <li class="list-group-item active">
                            EDIT LOẠI NHÀ CUNG CẤP
                        </li>
                        <li class="list-group-item">
                            <p>
                                Mã LNCC <br>
                                <input style="width: 200px;" width="1002px" placeholder="Nhập mã loại nhà cung cấp"
                                    [(ngModel)]="newMaLNCC" />
                                <!-- <input placeholder="Nhập mã loại nhà cung cấp"/> -->
                            </p>

                            <p>
                                Tên loại NCC (*) <br>
                                <input style="width: 200px;" placeholder="Nhập tên loại nhà cung cấp"
                                    [(ngModel)]="newTenLNCC" />
                                <!-- <input placeholder="Nhập tên loại nhà cung cấp"/> -->
                            </p>

                            <p>
                                Ghi chú <br>
                                <textarea style="width: 200px;" placeholder="Nhập ghi chú"
                                    [(ngModel)]="newGhiChu"></textarea>
                                <!-- <textarea placeholder="Nhập ghi chú"></textarea> -->
                            </p>

                            <p>
                                <input type="checkbox" checked> Sử dụng
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>